* {
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    margin: 2rem 3rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #89cff0;
    font-family: 'Ubuntu', sans-serif;
}

#board {
    display: inline-block;
    margin: 0 calc(50% - 64px * 7 / 2);
    margin-top: 3.5rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.row {
    height: 4rem;
}

.tile {
    width: 64px;
    height: 64px;
    background-color: #77e051;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.tile:hover {
    box-shadow: inset 0 0 0 3px white;
    cursor: pointer;
}

.tile-image {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    object-fit: cover;
}

#score, #next {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#score {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
}

#money, #energy, #turn {
    display: inline-block;
    margin: 0 0.5rem;
}

#money {
    color: rgb(0, 255, 0);
}

#energy {
    color: rgb(255, 255, 0);
}

#turn {
    color: rgb(255, 0, 0);
}

#next {
    display: block;
    margin: 1rem auto;
    transition: all 80ms linear;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

#next:hover {
    transition: all 80ms linear;
    background-color: rgb(0, 120, 255);
    color: white;
    cursor: pointer;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#build {
    display: none;
}

#build-menu {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 20vw;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    left: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.build-menu-option {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    border: none;
    outline:none;
    height: 3rem;
    background-color: transparent;
}

.build-menu-option:hover {
    transition: all 80ms linear;
    cursor: pointer;
    background-color: white;
}

.build-menu-option:disabled:hover {
    cursor: not-allowed;
}

.build-menu-option tooltip {
    visibility: hidden;
    width: 240px;
    background-color: #444;
    color: white;
    text-align: left;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.build-menu-option:hover tooltip {
    visibility: visible;
}







































