#next {
    display: block;
    margin: 1rem auto;
    transition: all 80ms linear;
    border: none;
    outline: none;
}

#next:hover {
    transition: all 80ms linear;
    background-color: rgb(0, 120, 255);
    color: white;
    cursor: pointer;
}

#tutorial:hover, #info:hover, #source:hover, .option:hover {
    transition: all 80ms linear;
    cursor: pointer;
    background-color: white;
    box-shadow: var(--shadow);
}