* {
    user-select: none;
    -webkit-user-drag: none;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
    --shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    background-color: #89cff0;
    background-image: url(../assets/mount-hood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

#score, #next, #bar {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow);
}
