.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#build, #end, #protest {
    display: none;
}

#build-menu, #end-menu, #protest-menu {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    width: 20vw;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    left: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: var(--shadow);
}

#end-menu, #protest-menu {
    width: 40vw;
}

#end-title, #protest-title {
    margin: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}

#end-desc, #protest-desc {
    margin: 1rem;
    font-size: 0.9rem;
}

.option {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    width: 100%;
    border: none;
    outline:none;
    height: 3rem;
    background-color: transparent;
}

.option:disabled:hover {
    cursor: not-allowed;
}