#bar {
    display: flex;
    padding: 0;
    margin-bottom: 4rem;
}

#title {
    flex-grow: 1;
    padding: 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#tutorial, #info, #sources, #source {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    transition: all 80ms linear;
}
