tooltip {
    font-size: 0.835rem;
    visibility: hidden;
    width: 240px;
    background-color: #444;
    color: white;
    text-align: left;
    padding: 10px;
    position: absolute;
    z-index: 1;
    box-shadow: var(--shadow);
}

#score > *:hover {
    cursor: help;
}

#score > *:hover tooltip {
    bottom: 110%;
    left: 0;
    visibility: visible;
}

.build-menu-option:hover tooltip {
    top: 0;
    left: 110%;
    visibility: visible;
}
